* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
  color: #f5f5dc;
  background: #e5e5e5;
  color: #1f7a8c;
}
.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px 0 20px;
  border-radius: 0 0 20px 20px;
  border-bottom: 8px solid #1f7a8c;
  border-left: 4px solid #1f7a8c;
  border-right: 4px solid #1f7a8c;
  padding: 20px;
  color: #1f7a8c;
  background: #f5f5dc;
}
.head__title {
  text-align: center;
  font-size: 5em;
  font-weight: 700;
  background: none;
  color: #1f7a8c;
}
.head__text {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: 700;
  background: none;
  margin-bottom: 5px;
  color: #1f7a8c;
}
.election {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 510px;
}
.election__content {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
}
.election__modes {
  width: 90%;
  height: 90%;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  border: 8px solid #1f7a8c;
  gap: 0.5em;
  background: #f5f5dc;
}
.election__name {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}
.election__name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5em;
}
.election__modes span {
  display: flex;
  text-align: center;
  font-size: 4em;
  margin-top: 15px;
  background: none;
}
/*  -----------------------------------footer----------------------------------- */
.footer {
  color: #1f7a8c;
  padding: 20px;
  text-align: center;
  align-items: center;
  border-top: 4px #1f7a8c solid;
  background: #f5f5dc;
}
.footer-title {
  font-size: 20px;
  font-weight: bold;
}
.footer a {
  color: #1f7a8c;
}
/* media queries */
@media (max-width: 600px) {
  .election__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
